/* --- Resets and Globals  --- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    /* border: 2px solid red; */
}
 html {
    scroll-behavior: smooth;
    margin: 0;
 }

:root {
   --color-dark-blue:  rgb(30, 30, 102);
   --color-grey:  rgb(66, 62, 62);
   --color-light-blue:  rgb(11, 114, 184);
   --color-red: rgb(218, 16, 16);
}


body {
    font-family: Roboto, sans-serif;
}

/* ---- Hero ---- */
.hero {
    background-color: var(--color-dark-blue);
    color: #fff;
}

/* ---- Navbar ---- */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--color-grey);
    /* border: 2px solid red; */
}

.navbar-logo {
    font-size: 1.3em;
    font-weight: 900;
    color: #fff;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-left: 2em;
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-light-blue);
    padding: 0.5rem 1.5em;
    border-radius: 10px;
}

.navbar-links a:hover {
    background-color: var(--color-red);
    opacity: 0.75;
}

/* ---- Hero ---- */
.hero-container {
    /* border: 2px solid red;  */
    display: flex;
    padding: 4em 1em ;
    gap: 100px;
    justify-content: space-between;
}

.hero-container-left, 
.hero-container-right {
    flex: 1 1 0;
}

.hero-container-left h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.hero-container-left p {
    font-weight: 300;
    padding-bottom: 2em;
}

.hero-container-left-btn {
    background-color: var(--color-light-blue);
    padding: 0.5rem 1.5em;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
}

.hero-container-left-btn:hover {
    opacity: 0.75;
    background-color: var(--color-red);
    font-size: 1.5rem;
    font-weight: 900;
}

.hero-container-right {
    display: flex;
    justify-content: space-around;
}

.hero-container-img {
    width: 70%;
    align-self: flex-start;
}

/* ---- Body ---- */


/* ---- First ---- */
.first {
    background-color: #fff;
    padding-bottom: 10em;
}

.first h2 {
    color: var(--color-dark-blue);
    padding: 2em;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.first-container {
    display: flex;
    gap: 20px;
    padding: 0 2em;
}

.first-container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.first-container img {
    width: 70%;
    height: auto;
    flex: 1;
    border: 4px solid var(--color-light-blue);
    border-radius: 10px;
    box-shadow: 6px 5px 15px 5px var(--color-dark-blue);
}

.first-container-img p {
    text-align: center;
    padding-top: 1em;
    color: var(--color-dark-blue);
}

/* ---- Second ---- */

.second {
    background-color: rgba(95, 95, 223, 0.3);
    padding: 7em;
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: italic;
    font-weight: 300;
}

.author {
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

/* ---- Third ---- */
.third {
    background-color: white;
    padding: 5rem;
}

.third-container {
    background-color: var(--color-light-blue);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.third-container-btn {
    align-self: center;
}
.third-container-btn a {
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #fff;
}

.third-container-btn a:hover {
    background-color: #fff;
    color: var(--color-light-blue);
    font-weight: 900;
}

/* ---- Footer ---- */

.footer {
    background-color: var(--color-grey);
    padding: 4vh;
    color: #fff;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    background-color: #fff;
    color: var(--color-grey);
    border: 2px solid #fff;
    border-radius: 10px;
    /* font-size: 1.5rem; */
    /* font-weight: 900; */
    /* padding: 0.5em; */
    /* To fix later */
}

/* ---- Media Queries ---- */

@media (max-width: 750px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        
    }

    .hero-container-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .first-container {
        display: flex;
        flex-wrap: wrap;
    }

    .first-container-img {
        margin-bottom: 2em;
    }
}

@media (max-width: 1000px) {
    .third-container {
        flex-wrap: wrap;
    }
    
    .third-container-btn {
        margin-top: 2em;
    }
}

@media (max-width: 650px) {
    .navbar-links {
        display: none;
    }

    .navbar-logo {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .second {
        padding: 2em;
    }

    .third {
        padding: 2rem;
    }

    

}
 @media (max-width: 370px) {
    .first-container {
        padding: 1em;
    }

    .third {
            padding: 1em;
        }
    
 }